@charset "UTF-8";

/* 回答はここに書いてね */


.box1 {
  width: 100%;
  padding-top: 10px;
  box-sizing: border-box;
  background-color: #ecf1f2;
}

.row1 {
  width: 100%;
}

.grid12 {
  font-size: 16px;
  height: 50px;
  background-color: #fff;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  font-size: 0;
}

.row2 {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.grid6 {
  font-size: 16px;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  box-sizing: border-box;
}

.row3 {
  width: calc(100% / 3);
  display: inline-block;
  box-sizing: border-box;
}

.grid4 {
  font-size: 16px;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  box-sizing: border-box;
}

.row4 {
  width: 25%;
  display: inline-block;
  box-sizing: border-box;
}

.grid3 {
  font-size: 16px;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  box-sizing: border-box;
}

.row5 {
  width: 20%;
  display: inline-block;
  box-sizing: border-box;
}

.grid20 {
  font-size: 16px;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  box-sizing: border-box;
}

.row6 {
  width: calc(100% / 6);
  display: inline-block;
  box-sizing: border-box;
}

.grid2 {
  font-size: 16px;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  box-sizing: border-box;
}
/* 回答はここに書いてね */
