@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::before,
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.wrapper2 {
  width:900px;
  height: 476px;
  background-color: #eff3f4;
  position: relative;
  margin: 0 auto;
}

.wrapper2 > li {
  width: 270px;
  height: 436px;
  background-color: #3274ae;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}

.wrapper2 > li > p {
  width: 230px;
  height: 396px;
  background-color: #eaf4ff;
  border: solid 10px #022336;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

/* 回答はここに書いてね */
